<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinnovat.app.midland">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LandingPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".Activity.StatusPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.LandingPageActivity" />
        </activity>
        <activity android:name=".Activity.PaymentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.LandingPageActivity" />
        </activity>
        <activity android:name=".Activity.RequestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.LandingPageActivity" />
        </activity>
        <activity android:name=".Activity.ApprovalsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.LandingPageActivity" />
        </activity>
        <activity android:name=".Activity.TaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.LandingPageActivity" />
        </activity>
        <activity android:name=".Activity.WorkStatusActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.LandingPageActivity" />
        </activity>
        <activity android:name=".Activity.CashRequisitionStatusActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.StatusPageActivity" />
        </activity>
        <activity android:name=".Activity.CashRequisitionApprovalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.ApprovalsActivity" />
        </activity>
        <activity android:name=".Activity.CashUtilisationApprovalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.ApprovalsActivity" />
        </activity>
        <activity android:name=".Activity.UserTaskRescheduleApprovalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.ApprovalsActivity" />
        </activity>
        <activity android:name=".Activity.ProductRequisitionApprovalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.ApprovalsActivity" />
        </activity>
        <activity android:name=".Activity.PurchaseOrderApprovalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.ApprovalsActivity" />
        </activity>
        <activity android:name=".Activity.WorkStatusReportActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.WorkStatusActivity" />
        </activity>
        <activity android:name=".Activity.UserTaskViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.TaskActivity" />
        </activity>
        <activity android:name=".Activity.CashUtilizationRequestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.RequestActivity" />
        </activity>
        <activity android:name=".Activity.CashRequestStatusActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.StatusPageActivity" />
        </activity>
        <activity android:name=".Activity.AvailableCreditStatusActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.StatusPageActivity" />
        </activity>
        <activity android:name=".Activity.CashUtilizationStatusActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.midland.Activity.StatusPageActivity" />


        </activity>
        <activity android:name=".Activity.CashRequestActivity" />
        <activity android:name=".XmlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>